{% extends 'tracker/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Issue Form{% endblock %}

{% block page_name %}
<div class="container">Create Issue</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Issue Form</h3>
        </div>

        <form action="
        {% if object %}
            {% url 'tracker:issue_edit' object.pk %}
        {% else %}
            {% url 'tracker:new_issue' %}
        {% endif %}
        "
        method="post" class="p-2">
            {{ form|crispy }}
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock content %}