{% extends 'tracker/base.html' %}

{% block title %}Delete Project{% endblock %}

{% block page_name %}
<div class="container">Delete Project</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Confirm Project Deletion</h3>
        </div>

        <form method="post" class="p-2">
            {% csrf_token %}
            <p class="">Confirm project deletion.</p>
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
    </div>
</div>
{% endblock content %}