{% extends 'tracker/base.html' %}
{% load adminlte_helpers i18n %}
{% load crispy_forms_tags %}

{% block title_outer %}
<title>{% block title %}Account Dashboard{% endblock %}</title>
{% endblock %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Profile</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src="{% avatar_url size=128 user=user %}"
                                alt="User profile picture">
                        </div>
                        <h3 class="profile-username text-center">{{ user.username }}</h3>
                        <p class="text-muted text-center">{{ user.email }}</p>
                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Issues Created</b> <a class="float-right">{{ user.profile.created_issues_count }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Action Pending Issues</b> <a
                                    class="float-right">{{ user.profile.assigned_issues_count }}</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#timeline"
                                    data-toggle="tab">Timeline</a></li>
                            {% if request.user.pk == user.pk %}
                            <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Details</a></li>
                            {% endif %}
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <!-- /.tab-pane -->
                            <div class="active tab-pane" id="timeline">
                                <!-- The timeline -->
                                <div class="timeline timeline-inverse">
                                    <!-- timeline time label -->

                                    <!-- /.timeline-label -->
                                    <!-- timeline item -->
                                    {% for date, logs in user.profile.logs_grouped_by_day.items %}
                                    <div class="time-label">
                                        <span class="bg-danger">
                                            {{ date|date:"d M Y" }}
                                        </span>
                                    </div>
                                    {% for log in logs %}
                                    <div>
                                        <i
                                            class="
                                                fas fa-{% if log.issue %}bug{% elif log.project %}clipboard{% else %}trash-alt{% endif %}
                                                bg-{% if log.action == 'create' %}primary{% elif log.action == 'update' %}warning{% else %}danger{% endif %}"></i>

                                        <div class="timeline-item">
                                            <span class="time"><i class="far fa-clock"></i>
                                                {{ log.date|date:"d M Y H:i" }}</span>

                                            <h3 class="timeline-header border-0"><a
                                                    href="{{ log.user.profile.get_absolute_url }}"></a>
                                                {{ log.description_timeline|safe }}{% if log.action != 'delete' %}{% endif %}
                                            </h3>
                                        </div>
                                    </div>
                                    {% endfor %}

                                    {% endfor %}
                                    {% comment %} {% for log in user.logs.all %}
                                    <div>
                                        <i
                                            class="
                                            fas fa-{% if log.issue %}bug{% elif log.project %}clipboard{% else %}trash-alt{% endif %}
                                            bg-{% if log.action == 'create' %}primary{% elif log.action == 'update' %}warning{% else %}danger{% endif %}"></i>

                                        <div class="timeline-item">
                                            <span class="time"><i class="far fa-clock"></i>
                                                {{ log.date|date:"d M Y H:i" }}</span>

                                            <h3 class="timeline-header border-0"><a
                                                    href="{{ log.user.profile.get_absolute_url }}"></a>
                                                {{ log.description_timeline|safe }}{% if log.action != 'delete' %}{% endif %}
                                            </h3>
                                        </div>
                                    </div>
                                    {% endfor %} {% endcomment %}
                                    <!-- END timeline item -->
                                    <div>
                                        <i class="far fa-clock bg-gray"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="settings">
                                <h3>Change your account details below:</h3>
                                <form class="form-horizontal" action="{% url 'account:profile' request.user.pk %}"
                                    method="post">
                                    {{ user_form|crispy }}
                                    {{ profile_form|crispy }}
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-danger">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock %}