{% extends 'tracker/base.html' %}

{% block title %}Registration Completed{% endblock %}

{% block page_name %}
<div class="container-fluid">Registration Completed</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Successful Registration</h3>
        </div> <!-- /.card-body -->
        <div class="card-body">
            <p>Your account has been registered successfully.</p>
        </div><!-- /.card-body -->
    </div>
</div>
{% endblock %}