{% extends 'tracker/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock %}

{% block page_name %}
<div class="container">Create New Account</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Register</h3>
        </div>

        <form action={% url 'account:register' %} method="post" class="p-2">
            {{ form|crispy }}
            {% csrf_token %}
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}