{% extends 'tracker/base.html' %}

{% block title %}Password Changed{% endblock %}

{% block page_name %}
<div class="container-fluid">Password Changed</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Successful Password Change</h3>
        </div> <!-- /.card-body -->
        <div class="card-body">
            <p>Your password has been successfully changed.</p>
        </div><!-- /.card-body -->
    </div>
</div>
{% endblock %}